@use '@/styles/variables' as v;
@use '@/styles/mixins' as mixin;
@use '@/styles/maps' as map;

p,
h1,
h2,
h3,
span {
  font-family: v.$font-family;
}

p,
.p,
span,
.small {
  font-weight: v.$font-weight-normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: v.$font-weight-semi-bold;
}

h1,
.h1 {
  @include mixin.setVariantResponsiveFonts(h1);
}

h2,
.h2 {
  @include mixin.setVariantResponsiveFonts(h2);
}

h3,
.h3 {
  @include mixin.setVariantResponsiveFonts(h3);
}

p,
.p {
  @include mixin.setVariantResponsiveFonts(p);
}

.small {
  @include mixin.setVariantResponsiveFonts(small);
}

@include mixin.generateUtilClassesFromMap(
  map.$font-weights,
  'font-weight'
);

@include mixin.generateUtilClassesFromMap(
  map.$colors,
  'color'
);
