@use '@/styles/mixins' as mixin;
@use '@/styles/maps' as map;

p,
h1,
h2,
h3,
span {
  font-family: var(--font-family);
}

p,
.p,
span,
.small {
  font-weight: var(--font-weight-normal);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: var(--font-weight-semi-bold);
}

h1,
.h1 {
  @include mixin.setVariantResponsiveFonts(h1);
}

h2,
.h2 {
  @include mixin.setVariantResponsiveFonts(h2);
}

h3,
.h3 {
  @include mixin.setVariantResponsiveFonts(h3);
}

p,
.p {
  @include mixin.setVariantResponsiveFonts(p);
}

.small {
  @include mixin.setVariantResponsiveFonts(small);
}

@include mixin.generateUtilClassesFromMap(
  map.$font-weight,
  'font-weight'
);

@include mixin.generateUtilClassesFromMap(
  map.$color,
  'color'
);
