@use './variables' as *;

$color: (
  primary: $primary,
  primary-shade: $primary-shade,
  accent: $accent,
  accent-shade: $accent-shade,
  accent-tint: $accent-tint,
  danger: $danger,
  danger-shade: $danger-shade,
  danger-tint: $danger-tint,
  success: $success,
  success-shade: $success-shade,
  success-tint: $success-tint,
  warning: $warning,
  warning-shade: $warning-shade,
  warning-tint: $warning-tint,
  body: $body,
  body-shade: $body-shade,
  surface: $surface,
  surface-tint: $surface-tint,
  surface-invert: $surface-invert,
  surface-invert-shade: $surface-invert-shade,
  body-invert: $body-invert,
  body-invert-tint: $body-invert-tint,
);

$breakpoint: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
);

$typography-rules: (
  small: (
    xs: $font-size-100,
    md: $font-size-200,
  ),
  p: (
    xs: $font-size-300,
  ),
  h1: (
    xs: $font-size-500,
    sm: $font-size-600,
  ),
  h2: (
    xs: $font-size-400,
    sm: $font-size-500,
  ),
  h3: (
    xs: $font-size-300,
    sm: $font-size-400,
  ),
);

$font-size: (
  100: $font-size-100,
  200: $font-size-200,
  300: $font-size-300,
  400: $font-size-400,
  500: $font-size-500,
  600: $font-size-600,
  700: $font-size-700,
  800: $font-size-800,
  900: $font-size-900,
);

$font-weight: (
  light: $font-weight-light,
  normal: $font-weight-normal,
  medium: $font-weight-medium,
  semi-bold: $font-weight-semi-bold,
);

$spacing: (
  100: $spacing-100,
  150: $spacing-150,
  200: $spacing-200,
  300: $spacing-300,
  400: $spacing-400,
  500: $spacing-500,
  600: $spacing-600,
  700: $spacing-700,
  800: $spacing-800,
  900: $spacing-900,
);

$border-radius: (
  0: $border-radius-0,
  100: $border-radius-100,
  200: $border-radius-200,
  300: $border-radius-300,
  400: $border-radius-400,
  500: $border-radius-500,
  600: $border-radius-600,
  700: $border-radius-700,
  800: $border-radius-800,
  900: $border-radius-900,
);

$border-width: (
  100: $border-width-100,
  200: $border-width-200,
  300: $border-width-300,
);

// Root vars source map
// Key will be used as prefix, key of value will be used as name
$root-variables: (
  color: $color,
  font-size: $font-size,
  font-weight: $font-weight,
  border-radius: $border-radius,
  border-width: $border-width,
  spacing: $spacing,
);
