@use 'sass:color';
$color-change: 25%;

$primary: #ffffff;
$primary-shade: color.mix(black, $primary, $color-change);
$accent: #2adbdb;
$accent-shade: color.mix(black, $accent, $color-change);
$accent-tint: color.mix(white, $accent, $color-change);
$body: #f5f1f1;
$body-shade: color.mix(black, $body, $color-change);
$surface: #1a1a1a;
$surface-tint: color.mix(white, $surface, $color-change);
$danger: #fc6060;
$danger-shade: color.mix(black, $danger, $color-change);
$danger-tint: color.mix(white, $danger, $color-change);
$success: #19b954;
$success-shade: color.mix(black, $success, $color-change);
$success-tint: color.mix(white, $success, $color-change);
$warning: #e4ac20;
$warning-shade: color.mix(black, $warning, $color-change);
$warning-tint: color.mix(white, $warning, $color-change);
$surface-invert: $body;
$surface-invert-shade: $body-shade;
$body-invert: $surface;
$body-invert-tint: $surface-tint;

$breakpoint-xs: 0px;
$breakpoint-sm: 490px;
$breakpoint-md: 768px;
$breakpoint-lg: 1040px;
$breakpoint-xl: 1440px;

$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-size-root: 1rem;

$font-size-100: #{$font-size-root * 0.75};
$font-size-200: #{$font-size-root};
$font-size-300: #{$font-size-root * 1.125};
$font-size-400: #{$font-size-root * 1.25};
$font-size-500: #{$font-size-root * 1.375};
$font-size-600: #{$font-size-root * 1.5};
$font-size-700: #{$font-size-root * 1.875};
$font-size-800: #{$font-size-root * 2};
$font-size-900: #{$font-size-root * 2.5};

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

$spacing-root: 16px;
$spacing-100: #{$spacing-root * 0.125};
$spacing-150: #{$spacing-root * 0.25};
$spacing-200: #{$spacing-root * 0.375};
$spacing-300: #{$spacing-root * 0.5};
$spacing-400: #{$spacing-root * 0.75};
$spacing-500: #{$spacing-root};
$spacing-600: #{$spacing-root * 1.125};
$spacing-700: #{$spacing-root * 1.5};
$spacing-800: #{$spacing-root * 2};
$spacing-900: #{$spacing-root * 2.5};

$border-radius-root: 1px;
$border-radius-0: 0;
$border-radius-100: #{$border-radius-root};
$border-radius-200: #{$border-radius-root * 2};
$border-radius-300: #{$border-radius-root * 4};
$border-radius-400: #{$border-radius-root * 6};
$border-radius-500: #{$border-radius-root * 8};
$border-radius-600: #{$border-radius-root * 12};
$border-radius-700: #{$border-radius-root * 16};
$border-radius-800: #{$border-radius-root * 20};
$border-radius-900: 100%;

$border-width-root: 1px;
$border-width-100: #{$border-width-root};
$border-width-200: #{$border-width-root * 2};
$border-width-300: #{$border-width-root * 4};
