$color-change: 10%;

$primary: #5c7eca;
$secondary: #626577;
$on-surface: #626577;
$surface: #e6ebf4;
$danger: #ef4444;
$success: #16a34a;
$warning: #e6af26;

$breakpoint-xs: 0px;
$breakpoint-sm: 490px;
$breakpoint-md: 768px;
$breakpoint-lg: 1040px;
$breakpoint-xl: 1440px;
